.freeAgentsContainer {
  text-align: center;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //max-width: 35rem;
  //width: 100%
}

.freeAgentsHeader {
  align-self: center;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.faButtonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0;
}

.downloadFreeAgentsButton {
  text-align: center;
  align-self: center;
  border: solid;
  padding: 0 2rem;
  margin-left: 1rem;
}
