.leagueDetailsContainer {
  text-align: center;
  margin: auto 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leagueContainer {
  margin-right: 5rem;
}

.leagueTeamContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teamLogo {
  max-height: 3rem;
  max-width: 3rem;
  margin-right: 1rem;
}

.leagueTeamsHeader {
  align-self: center;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.downloadTeamsButton {
  text-align: center;
  align-self: center;
  border: solid;
  padding: 0 2rem;
  margin-left: 1rem;
}
